    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("image2.png", class: :logo), root_path %>
            <%# ログインしているときは以下を表示する %>
              <%# <div class="greeting"> %>
                <%= "こんにちは、タロウさん！" %>
                <%# <%= link_to "ユーザー名さん", root_path, class: :greeting__link%>
              <%# </div> %>
            <%# // ログインしているときは上記を表示する %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">

              <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "nav__btn"%>
              <%= link_to "投稿する", "#", class: "nav__btn" %>
              <%= link_to "マイページ", "#", class: "nav__btn" %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: "nav__btn" %>
              <%= link_to "新規登録", new_user_registration_path, class: "nav__btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <nav id="global_nav">
        <div class="gnav_cnt">
          <div class="gnav_menu">
          <ul class="gnav_list">
            <li class="item">
              <a href="#" class="gnav_btn">
               <span class="gnav_title">桧原湖map</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="gnav_btn">
               <span class="gnav_title">アイテム紹介</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="gnav_btn">
               <span class="gnav_title">よくある質問</span>
              </a>
            </li>
            <li class="item">
              <a href="https://www.urabandai-inf.com/" class="gnav_btn">
               <span class="gnav_title">桧原湖周辺情報</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="gnav_btn">
               <span class="gnav_title">釣果情報</span>
              </a>
            </li>
        </div>
      </nav>
    </header>