<%= render "shared/header" %>
<main class="main">
  <%# トップ画 %>
  <div class="top">
    <div class="card__wrapper">
      <div class="main_image">
        <div class="bxslider">
          <div><%= image_tag "img4.jpg" %></div>
          <div><%= image_tag "img1.jpg" %></div>
          <div><%= image_tag "img2.jpg" %></div>
          <div><%= image_tag "img3.jpg" %></div>
          <div><%= image_tag "img5.jpg" %></div>
          <div><%= image_tag "img6.jpg" %></div>
          <div><%= image_tag "img7.jpg" %></div>
          <div><%= image_tag "img11.jpg" %></div>
          <div><%= image_tag "img12.jpg" %></div>
        </div>
      </div>
    </div>
  </div>
  <%# /トップ画 %>
 
  <div class="wakasagi-contents">
    <%# 投稿一覧 %>
    <div class="post_contents">
      <div class="post_wrap" id="4">
        <h2 class="title">
          釣果情報一覧
        </h2>
        <div class="search">
          <div class="search_box">
            <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.select :keyword, [["---選択してください---", "first"],["釣れた順", "fishing_result_desc"], 
                                      ["いいね数順", "likes_count_desc"], 
                                      ["新着順", "created_at_desc"], 
                                      ["投稿が古い順", "created_at_asc"]] %>
            <%= form.submit "並び替える", class: "search-btn" %>
            <% end %> 
          </div>
        </div>
        <ul class='post-lists'>
          <% @posts.each do |post|%>
          <li class='list'>
            <%= link_to post_path(post.id) do %>
             <div class="img_wrap">
                <%= image_tag post.image, class: "post-img" if post.image.attached?%>
                <% unless post.image.present? %>
                <div class='post-img'>
                  <%= image_tag "image7.png", class: "item-img" %>
                </div>
                <% end %>
              </div>
              <div class='post-info'>
                <%= link_to "#{post.user.nickname}さん",  user_path(post.user.id), class: "post_user_name"%>
                <span class="sukima"><%= post.created_at.strftime('%Y/%m/%d') %></span>
                <div class='result'>
                  <%= "釣果：#{post.fishing_result}匹" %>               
                </div>
                <div class="info_header">
                  <div class="message_txt">&#x1f4ac;
                  <%= "#{Message.where(post_id:post.id).count}" %>
                  </div>
                  <div class="like_txt">
                  <%= render partial: 'likes/like', locals: {post: post} %>
                  </div>
                </div>                    
              </div> 
            <% end %>         
          </li>
          <% end %>

          <% if @posts.length == 0  %>
            <li class='list'>
              <%= link_to '/' do %>
                <%= image_tag "image7.png", class: "item-img" %>
                <div class='item-info'>
                  <h3 class='item-name'>
                    投稿してね！
                  </h3>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%# /投稿一覧部分 %>

  <%# アイテム紹介 %>

    <div class="item_wrap" id="2">
      <h2 class="title">
        アイテム紹介
      </h2>
      <ul class='item-lists'>
      </ul>
    </div>
    <%# /アイテム紹介 %>

    <%# よくある質問 %>
    <div class="faq_wrap" id="3">
      <h2 class="title">
        よくある質問
      </h2>
      <ul class='faq-lists'>
      </ul>
    </div>
    <%# /よくある質問 %>

    <%# 桧原湖マップ %>
    <div class="map_wrap" id="1">
      <h2 class="title">
        桧原湖マップ
      </h2>
      <div class="map_box">
        <input id="address" type="textbox" value="場所の名前を入力">
        <input type="button" value="地図を検索" onclick="codeAddress()">
        <div id="display">緯度,経度(37.6831667,140.0590371)</div>
        <div id='map'>
        </div>
        <script>
        let map

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.6831667, lng:140.0590371},
            zoom: 13,
          });

          marker = new google.maps.Marker({
            position:  {lat: 40.7828, lng:-73.9653},
            map: map
          });
        }

        let geocoder

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
              display.textContent = "検索結果：" + results[ 0 ].geometry.location
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });   
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHqUkfEeMRFVEgs2xV6K0sQXjroMU533c&callback=initMap" async defer></script>
      </div>
    </div>
    <%# /桧原湖マップ %>
  </div>
<div id="page_top"><a href="#"></a></div>
</main>
<%= render "shared/footer" %>