<div class="search-contents">
  <%= link_to "トップページに戻る", root_path, class: "nav__btn" %>
  <%# 投稿一覧 %>
  <div class="post_wrap">
    <h2 class="title">
      釣果情報一覧
    </h2>
    <div class="search">
      <div class="search_box">
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.select :keyword, [["---選択してください---", "first"],["釣れた順", "fishing_result_desc"], 
                                    ["いいね数順", "likes_count_desc"], 
                                    ["新着順", "created_at_desc"], 
                                    ["投稿が古い順", "created_at_asc"]] %>
          <%= form.submit "並び替える", class: "search-btn" %>
        <% end %> 
      </div>
    </div>
      <ul class='post-lists'>
        <% @posts.each do |post|%>
        <li class='list'>
          <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, class: "post-img" if post.image.attached?%>
              <% unless post.image.present? %>
              <div class='post-img'>
                <%= image_tag "image7.png", class: "item-img" %>
              </div>
              <% end %>
            <div class='post-info'>
              <%= link_to "#{post.user.nickname}さん",  user_path(post.user.id)%>
              <span class="sukima"><%= post.created_at.strftime('%Y/%m/%d') %></span>
              <div class='result'>
                <%= "釣果：#{post.fishing_result}匹" %>               
              </div>
              <div class="info_header">
                <div class="message_txt">&#x1f4ac;
                <%= "#{Message.where(post_id:post.id).count}" %>
                </div>
                <div class="like_txt">
                <%= render partial: 'likes/like', locals: {post: post} %>
                </div>
              </div>                    
            </div> 
          <% end %>         
        </li>
        <% end %>

        <% if @posts.length == 0  %>
          <li class='list'>
            <%= link_to '/' do %>
              <%= image_tag "image7.png", class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  投稿してね！
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>